body
{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1
{
    color: #66BFBF;
    /* line-height: 2; */
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0px auto;
    font-size: 5.625rem;
    
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5rem
    padding: bottom 10px;
    
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    
}
p{
    line-height: 2;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10PX 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.intro{
    width: 30%;
    margin: auto;
}
.spane{
    text-decoration: underline;
}
.top-container
{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
   
}
.middle-container
{
    margin: 100px 0;
}
.bottom-container
{
    
}
.cloud-top{
    position: absolute;
    right: 300px;
    top: 40px;
    

}
.cloud-bottom{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.mountain{
    position: relative;

}
.coder{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.web-dev{
    width: 25%;
    float: right;
    margin-left: 30px;

}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.copyright{
    color: #EAF6F6;
    margin: 20px 0;
    font-size: 0.75rem;
}

/* .code-skill-description{
    clear: left;
}
.code-skill-description-2{
    clear: right;
} */
.contact-me{
   width: 40%;
   margin: 40px auto 60px;
}
.BUTTON_IGP {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #119999);
    background-image: -moz-linear-gradient(top, #11CDD4, #119999);
    background-image: -ms-linear-gradient(top, #11CDD4, #119999);
    background-image: -o-linear-gradient(top, #11CDD4, #119999);
    background-image: -webkit-gradient(to bottom, #11CDD4, #119999);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 19px;
    font-weight: 100;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_IGP:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AC);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AC);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AC);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AC);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AC);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }